/* my styles */
.axis path {
	fill:none; 
	stroke:#aaa; 
	stroke-width:1px;
}
.tick text {
	fill:#aaa; 
	font-size:.75em; 
	font-weight:normal;
}
.info {
	position: absolute; 
	background-color: #447cb8; 
	padding: 0px 14px 0px 15px; 
	line-height: 18px; 
	color: white; 
	font-weight: bold; 
	font-family: monospace; 
	border: 1px solid white;
}
main {
	margin-top: 20px; 
	border-radius: 10px; 
	padding-top: 10px; 
	border: 6px double #eee;
}
section {
	position: relative
}
text {
	cursor: default;
}
h1 {
	font-size: 150%;
	font-family: sans-serif;
	font-weight: bold;
	position: absolute; 
	left: 130px; 
	top: 15px; 
	color: gray;
	display: inline-block;
	text-align: center;
}
h1 span {
	display:block;
	font-size: 60%;
}
.infoHeader {
	position: absolute;
	top: 66px;
	left: 183px;
	font-family:sans-serif; 
	color: gray; 
	font-size: 80%;
}
.infoHeader div span {
	display: inline-block; 
	width: 10px; 
	height: 10px; 
	margin-right: 4px;
}
.infoHeader div:nth-of-type(1) span {
	background-color: #447cb8; 
	margin-right: 17px;
}
.infoHeader div:nth-of-type(2) span {
	background-color: red; 
	border-radius: 10px;
}
#visualization{
	margin-top: 150px;
}