* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body { 
	font-family: sans-serif; 
	margin: 0px;
}

header li{
	list-style: none;
	display: inline-block;
	width: 100px;
	cursor: pointer;
}
header ul{
	margin: 0px;
}
header{
	text-align: right;
}
#main{
	width: 1200px;
	margin: auto;
	overflow: hidden;
	height: 600px !important;
}
.item {
  width: 400px;
  height: 200px;
}

.item-content {
  width:  100%;
  height: 100%;
  background: #09D;
  border: 4px solid #333;
  border-color: hsla(0, 0%, 100%, 0.4);
  -webkit-transition: width 0.4s, height 0.4s;
     -moz-transition: width 0.4s, height 0.4s;
       -o-transition: width 0.4s, height 0.4s;
          transition: width 0.4s, height 0.4s;
}

/* item has expanded size */
.item.is-expanded {
  width: 800px;
  height: 400px;
}