* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body { 
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
	color: white;
}

.big{
	display: none;
}


header li{
	list-style: none;
	display: inline-block;
	width: 100px;
	cursor: pointer;
}
header ul{
	margin: 0px;
}
header{
	text-align: right;
}
#main{
	width: 900px;
	margin: auto;
	overflow: hidden;
	height: 600px !important;
}
.item {
  width: 300px;
  height: 200px;
  overflow: hidden;
}

.item-content {
  width:  100%;
  height: 100%;
  background: #51aed7;
  border: 2px solid #fff;
  -webkit-transition: width 0.4s, height 0.4s;
     -moz-transition: width 0.4s, height 0.4s;
       -o-transition: width 0.4s, height 0.4s;
          transition: width 0.4s, height 0.4s;
  color: white;
}
.item-content img{
	width: 100%;
}

/* item has expanded size */
.item.is-expanded {
  width: 600px;
  height: 400px;
}
.verybig{
	width: 600px;
  	height: 600px;
}

h2{
	position: absolute;
	right: 10px;
	bottom: 0px;
	font-weight: 300;
	margin: 0px;
}

/* box 2 */
.box2 .small img{
	width: 185px;
	margin: 30px 75px;
}
.box2 .big img{
	width: 60%;
	margin: 85px 50px;
}
.box2 .c1, .box2 .c2, .box2 .c3, .box2 .c4{
	position: absolute;
	width: 20px;
	height: 20px;
	cursor: pointer;
}
.box2 .c1{
	top: 124px;
	left: 115px;
}
.box2 .c2{
	top: 200px;
	left: 80px;
}
.box2 .c3{
	top: 200px;
	left: 118px;
}
.box2 .c4{
	top: 128px;
	left: 283px;
}
.box2 .text{
	position: absolute;
	top: 10px;
	width: 205px;
	right: 10px;
	display: none;
}
.box2 .text h3{
	font-size: 16px;
	font-weight: 600;
}
.box2 .text h4{
	font-size: 14px;
	font-weight: 400;
	margin: 15px 0px 0px 0px;
}
.box2 .text p{
	font-size: 11px;
	font-weight: 400;
	margin: 0px;
}
.box2 .text date{
	margin-top: 10px;
	font-size: 9px;
	opacity: 0.85;
}

/* box 4 */
.box4 img{
	width: 70px;
	border: 3px solid white;
	border-radius: 50px;
	margin: 50px 0px 0px 35px;
}
.box4 .content img.thumb{
	width: 55px;
	margin: 79px 0px 0px 43px;
}
.box4 table{
	font-size: 10px;
	width: 150px;
	display: block;
	position: absolute;
	top: 60px;
	left: 120px;
}
.box4 td{
	padding: 0px 5px
}
.box4 .preview{
	float: left;
	height: 200px;
	width: 300px;
	color: white;
}
.box4 .map{
	overflow: hidden;
	height: 360px;
	width: 290px;
	border: 1px solid white;
	margin-top: 5px;
	color: black;
}
.box4 .content{
	position: absolute;
	top: 135px;
}
.box4 .content table{
	font-size: 9px;
	margin-top: 10px;
}
.box4 .content.doc table{
	margin-top: 18px;
}
.box4 .content.doc{
	position: absolute;
	top: 220px;
}
.box4 .content img{
	margin: 70px 0px 0px 35px;
}
.box4 table h3{
	font-weight: 300;
	font-size: 16px;
	margin: 0px 0px 3px 0px;
}

/* box5 */
.box5 img{
	width: 60px;
	margin: 3px;
}
.box5 .item-content{
	padding: 10px;
}
.box5 .imageLineup{
	position: absolute;
	width: 100px;
}
.box5 .elContainer{
	overflow-y: auto;
	width: 585px;
	height: 396px;
	margin-top: -10px;
}
.box5 .imageLineup .el{
	display: none;
	width: 550px;
	position: relative;
}
.box5 .imageLineup .el img{
	margin-left: 69px;
}
.box5 .imageLineup .el date{
	position: absolute;
	left: 10px;
	top: 26px;
	font-size: 12px;
}
.box5 .imageLineup .el div{
	display: none;
	position: absolute;
	height: 250px;
	padding: 3px;
	background: #1987c3;
	border: #ffffff solid 1px;
	left: 150px;
	top: -85px;
	font-size: 10px;
	width: 300px;
}
.box5 .imageLineup .el:nth-child(1) div{
	top: 8px;
}
.box5 .imageLineup .el:nth-child(1) div:after, .box5 .imageLineup .el:nth-child(1) div:before{
	top: 12%;
}
.box5 .imageLineup .el:nth-child(2) div{
	top:-58px;	
}
.box5 .imageLineup .el:nth-child(2) div:after, .box5 .imageLineup .el:nth-child(2) div:before{
	top:39%;	
}
.box5 .imageLineup .el:nth-last-child(2) div{
	top: -127px;
}
.box5 .imageLineup .el:nth-last-child(2) div:after, .box5 .imageLineup .el:nth-last-child(2) div:before{
	top: 67%;
}
.box5 .imageLineup .el:last-child div{
	top:-193px;	
}
.box5 .imageLineup .el:last-child div:after, .box5 .imageLineup .el:last-child div:before{
	top:94%;	
}
.box5 .imageLineup .el div:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 5px 5px 5px 0;
	border-color: transparent #1987c3;
	display: block;
	width: 0;
	z-index: 1;
	margin-top: -12px;
	left: -5px;
	top: 50%;
}
.box5 .imageLineup .el div:before{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 5px 5px 5px 0;
	border-color: transparent #FFFFFF;
	display: block;
	width: 0;
	z-index: 0;
	margin-top: -12px;
	left: -6px;
	top: 50%;
}

.box5 .imageLineup .emptyEl{
	width: 570px;
	position: absolute;
	height: 6px;
	background-color: #b6ced6;
	bottom: 0px;
	z-index: 2;
}

#visualization {
	color: white;
}

.A {
	color: black;
}

.B {
	color: black;
}

.C {
	color: black;
}

/* last box */
.item.last table{
	font-size: 10px;
	position: absolute;
	bottom: 5px;
	right: 5px;
	line-height: 8px;
	opacity: .95;
}






